<div ng-class="{'display-on': displaySuccess}" class="angular-alert-box success header-alert">
    <div class="row" >
        <div class="small-12 columns">
            <strong>Success.</strong>
            {{successMessage}}
            <a ng-click="successOff()" href="#" class="close">&times;</a>
        </div>
    </div>
</div>
<div ng-class="{'display-on': displayError}" class="angular-alert-box alert header-alert">
    <div class="row" >
        <div class="small-12 columns">
            <strong>Error.</strong>
            {{errorMessage}}
            <a ng-click="errorOff()" href="#" class="close">&times;</a>
        </div>
    </div>
</div>