<p>
	The following is a list of incomplete uploads. To continue any of these uploads, click on the "Choose File" button, select the same file from your file system and click the "Upload" button. The upload will continue where you left off. If the file has changed since you first started the upload, you will need to click cancel and reupload it.
</p>
<table class="slo-table" ng-if="incomplete_slo.length">
	<tr>
		<th class="hide-for-small-only logo"></th>
		<th class="hide-for-small-only">Name</th>
		<th class="hide-for-small-only">File Size (Percentage complete)</th>
		<th class="hide-for-small-only button-column"></th>
	</tr>
	<tr ng-repeat="key in incomplete_slo" on-last-repeat>
		<td class="icon">
			<span class="glyphicons glyphicons-file"></span>
		</td>
		<td>
			{{key.name | formatFileName}}
		</td>
		<td>
			{{key.file_size|formatByte}} ({{key.progress}}%)
		</td>
		<td>
			<button ng-click="delete_incomplete_slo(key)" class="cancel">Cancel</button>
		</td>
	</tr>
</table>