form#custom-temp-url {
	input.submit {
		background-color: black;
		border: none;
		color: white;
		font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		line-height: normal;
		font-size: 1rem;
		font-weight: normal;
		margin-bottom: 1rem;
 		padding: 1rem 2rem 1.0625rem 2rem;
		width: 100%;
	}
}

#close-tempurl {
	margin: 0 0 1.25rem;
}

