{% extends "core.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head %}
{% if session.username %}
<div id="header" >
<div class="row" role="navigation">	
	<div class="small-3 columns">
		<a href="{% url "containerview" %}" ><img class="service-logo" src="{% static "img/olrc-logo-small.png" %}" alt="OLRC Browser"/></a>	   
	</div>   
	<div class="small-9 columns">
		<div class="account-btns">
			<span><strong>{{session.username}}</strong></span>
			<a class="btn btn-primary log-out" role="button" href="{% url "login" %}">
			<span ></span>
			{% trans 'Logout' %}
			</a>
		</div> 
	</div>
</div>
</div>
{% else %}
{% endif %}
{% endblock %}
{% block content %}
{% endblock %}
