{% extends "core.html" %}
{% load i18n %}
    {% block head %}
	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="{{ url }}" class="navbar-brand"><span class="glyphicon glyphicon-cloud-upload"></span> Swift Browser</a>
	    </div>
	    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	      <ul class="nav navbar-nav navbar-right">

            {% if session.username %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong class="hidden-phone">{{session.username}}</strong>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% block menu_addons %}{% endblock %}
                        <li>
                            <a href="{% url "login" %}">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            {% trans 'Logout' %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% url "login" %}">
                        <strong> {% trans 'Login' %}</strong>
                    </a>
                    </li>
            {% endif %}

	      </ul>

	    </nav>
	  </div>
	</header>



        <noscript>
            <div class="container">
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">
                            &times;
                        </button>
                        <strong>{% trans 'Warning!' %}</strong>
                        {% trans 'You need JavaScript enabled to use all functions on this site.' %}
                    </div>
            </div>
        </noscript>
    {% endblock %}

    {% block content %}
    {% endblock %}
