{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}
	<div id="containerview">
		<div class="crumb-row" data-magellan-expedition="fixed">
			<div class="row">
				<div class="action-btns">
					<div class="small-12 columns">
						<button type="button" data-reveal-id="container" class="button folder new-container">
							<span class="glyphicons glyphicons-folder-plus"></span>&nbsp;
							Create Container
						</button>
					</div>
				</div>
				<div class="small-12 medium-7 columns breadcrumb">
					<ul>
						<li>
							<span>Containers</span>
							<span class="usage">
								{{account_stat.x_account_bytes_used|filesizeformat}}
								{% if account_stat.x_account_meta_quota_bytes %}
									{% trans 'of' %}
									{{account_stat.x_account_meta_quota_bytes|filesizeformat}}
								{% endif %}
								{% trans 'used' %}
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% include "messages.html" %}
		<div class="row">
			<div class="small-12 columns"></div>
		</div>
		<div class="row content-body">
			<div id="containertable" class="small-12 columns">
				<table role="grid">
					<thead>
						<tr>
							<th class="hide-for-small-only"></th>
							<th class="hide-for-small-only">{% trans 'Name' %}</th>
							<th class="hide-for-small-only">{% trans 'Objects' %}</th>
							<th class="hide-for-small-only">{% trans 'Size' %}</th>
							<th class="hide-for-small-only"></th>
						</tr>
					</thead>
					<tbody>
						{% for container in containers %}
							<tr>
								<td class="icon">
									<span class="glyphicons glyphicons-cloud"></span>
								</td>
								<td>
									<strong>
										<a href="{% url "objectview" container=container.name %}">{{container.name}}</a>
									</strong>
								</td>
								<td class="hide-for-small-only">{{container.count}}</td>
								<td>{{container.bytes|filesizeformat}}</td>
								<td>
									<button type="button" data-dropdown="opt{{forloop.counter}}" aria-controls="opt{{forloop.counter}}" aria-expanded="false" class="button dropdown file-btn">
										<span class="glyphicons glyphicons-cogwheel"></span>
									</button>
									<br>
									<ul id="opt{{forloop.counter}}" data-dropdown-content class="f-dropdown right" aria-hidden="true">
										<li>
											<a href="{% url "download_collection" container=container.name %}">
												<span class="glyphicons glyphicons-cloud-download"></span> {% trans 'Download' %}
											</a>
										</li>
										<li class="divider" />
										<li>
											<a class="delete-container-link" data-reveal-id="delete-container" data-container-name="{{container.name}}" data-reveal-ajax="{% url 'delete_container_form' container=container.name %}">
												<span class="glyphicons glyphicons-fire"></span> {% trans 'Delete container' %}
											</a>
										</li>
										<li>
											<a href="" data-reveal-id="edit-acl" class="edit-acl" data-container-name="{{container.name}}">
												<span class="glyphicons glyphicons-pencil"></span> {% trans 'Edit Access' %}
											</a>
										</li>
										{% comment %}
										{%
										We've temporarily disabled the Move to trash feature. It may be safe to fully remove it.
										<li>
											<a href="{% url "move_collection_to_trash" container=container.name  %}"  ><span class="glyphicons glyphicons-bin"></span> {% trans 'Move to trash' %}
											</a>
										</li> %}
										{% endcomment %}
									</ul>
								</td>
							</tr>
						{% empty %}
							<tr>
								<td colspan="5">
									<strong>
										<center>{% trans 'There are no containers in this account yet. Create a new container by clicking the red button.' %}</center>
									</strong>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<a href="{% url "trashview" account=account %}" role="button" class="hide">
					<span class="glyphicons glyphicons-bin"></span>
				</a>
			</div>
		</div>
		<div class="reveal-modal" id="container" data-reveal aria-labelledby="container-title" aria-hidden="true" role="dialog">
			<h2 id="container-title">Create a new container</h2>
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
			<form method="POST" action="{% url 'create_container' %}" id="create-container">
			    {% csrf_token %}
			    <div>
			        <label for="containername">{% trans "Enter your container name here." %}
		            {% trans "Please note that you can not rename it afterwards." %}
					</label>
			        <div>
			            <input id="create-container-name" name="containername" class="input-xlarge" type="text" placeholder="{% trans "Container Name" %}">
			        </div>
			    </div>
			    <div>
			        <button type="submit" class="button expand">{% trans 'Create' %}</button>
			    </div>
			</form>
			<div id="progress" class="progress">
				<div class="loader">Loading...</div>
			</div>
		</div>
		<div class="reveal-modal" id="delete-container" data-reveal aria-labelledby="container-title" aria-hidden="true" role="dialog"></div>
		{% include "acl.html" %}
	</div>
    <script src="{{STATIC_URL}}js/helpers/containerview.js" type="text/javascript"></script>
{% endblock %}
