{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Swift Browser</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <style>
            body {padding-bottom: 60px; }
            .center, th.center, td.center {text-align: center;}
            form {margin-bottom: 0;}
            td a.block {display: block;}
            .breadcrumb a {font-weight: bold;}
            code {white-space: normal !important;}
        </style>
        <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        {% block cssadd %}{% endblock %}
    </head>

    <body>
        {% block head %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        
        
        {% block jsadd %}{% endblock %}
    </body>
</html>
