{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>OLRC Browser</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link href="{% static "foundation/stylesheets/app.css" %}" rel="stylesheet">
		<link href="{% static "glyphicons/css/glyphicons.css" %}" rel="stylesheet">
		<script src="{% static "foundation/bower_components/foundation/js/vendor/modernizr.js" %}"></script>
		<script src="{% static "foundation/bower_components/foundation/js/vendor/jquery.js" %}"></script>
		<script src="{% static "foundation/bower_components/foundation/js/foundation.min.js" %}"></script>
		<link id="baseurl" href="{% static "../" %}" />
		{% block cssadd %}{% endblock %}
	</head>
	<body>
		{% block head %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
		<script src="{% static "foundation/js/app.js" %}"></script>
		{% block jsadd %}{% endblock %}
	</body>
</html>
