
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% load static %}
{% block content %}
	{% if delete_slo %}
		<div class="delete-slo-wrapper">
	{% endif %}
	<script src="{% static "js/helpers/delete_folder.js" %}"></script>
	<h2 class="delete-folder-title">Delete Folder</h2>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	<form id="delete-folder-form" method="POST" action="" data-delete-form-url="{% url "delete_folder_form" container=container objectname=objectname %}" data-delete-url="{% url "delete_folder" container=container objectname=objectname %}" data-count-url="{% url "get_total_objects" container=container objectname=objectname %}">
		{% if not delete_slo %}
		    <label for="foldername">This will permanently delete the folder <span class="folder-name-holder">{{foldername}}</span>. Type in the folder name to delete the folder.</label>
		    <input id="delete-folder-name" name="foldername" autocomplete="off" class="enter-folder-name input-xlarge" type="text" placeholder="{% trans "Folder Name" %}">
			<button class="confirm-delete" type="submit">I understand the consequences, Delete this folder.</button>
	    {% endif %}
	    {% csrf_token %}
	    <input id="folder-total" type="hidden" data-total-objects="{{total_objects}}" />
	</form>
	<h3 class="deleting-message">Deleting...</h3>
	<div id="css-progress-wrap" class="css-progress-wrap css-progress">
		<div class="css-progress-bar css-progress"></div>
	</div>
	<span class="cancel-delete button expand">{% trans 'Cancel' %}</span>
	{% if delete_slo %}
		</div>
		<script src="{% static "js/helpers/delete_slo.js" %}"></script>
	{% endif %}
{% endblock %}