{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="login-form">
	<h1 class="sr-only">Login</h1>
<div class="container login-form-box">
	
	<div class="row">
		<div class="col-xs-12">
		<img class="olrctext" src="../static/img/olrc.png" alt="Ontario Library Research Cloud">
	</div>
<form method="post" action="{% url "login" %}">
    {% csrf_token %}
   
    
       
        <fieldset id="login-fields">
			<div class="col-xs-12 col-md-4">
            
			<label class="sr-only">
                <b>{% trans 'Username' %}</b>
            </label>
            <input class="form-control"  name="username" type="text" placeholder="{% trans 'Tenant:Username' %}">
			
			</div>
			<div class="col-xs-12 col-md-4">
            <label class="sr-only">
                <b>{% trans 'Password' %}</b>
            </label>
            <input class="form-control" name="password" type="password" placeholder="{% trans 'Password' %}">
			</div>
			<div class="col-xs-12 col-md-4">
			<button type="submit" class="btn btn-primary">
	            {% trans 'Login' %} <span class="icon-chevron-right icon-white"></span>
	        </button>
		</div>
        </fieldset>
        
    
    <div class="login-alert">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == 40 %}
                    <div class="alert alert-error">
                        {{message|safe}}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
		
    </div>
</form>
</div>
</div>
</div>
{% endblock %}

