{% load i18n %}
{% if messages %}
	{% for message in messages %}
		{% if message.level == 20 %}
			<div data-alert class="alert-box success header-alert">
				<div class="row" >
					<div class="small-12 columns">
				<strong>{% trans 'Success.' %}</strong> {{message|safe}}
				<a href="#" class="close">&times;</a>
				</div>
				</div>
			</div>
		{% endif %}
		{% if message.level == 40 %}
			<div data-alert class="alert-box alert header-alert">
				<strong>{% trans 'Warning!' %}</strong> {{message|safe}}
				<a href="#" class="close">&times;</a>
			</div>
		{% endif %}
		
	{% endfor %}
{% endif %}
		
