{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}
<div id='containerdiv' class="container">
{% include "messages.html" %}

        <ul class="breadcrumb">
            <li><a href="{% url "containerview" %}">Containers</a></li> 
            <li>
                <a class="u" href="{% url "objectview" container=container %}">{{container}}</a></li>

            {% for prefix in prefixes %}
                <li>                    
                    <a href="{% url "objectview" container=container prefix=prefix.full_name %}">{{prefix.display_name}}</a>
                </li>
            {% endfor %}

       </ul> 
    {% if public %}
            
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans 'Public URL:' %}</strong>
            <a href="{{ base_url }}{% url "public_objectview" account=account container=container %}" target="new">
                {{ base_url }}{% url "public_objectview" account=account container=container %}
            </a>
        </div>
 
    {% endif %}
	<div>
	<script type="text/javascript"> 
		$( document ).ready(function() {
			loadTable();
		}
		);
		
	    function servercheck(path) {			

			$.ajax({
			     type: "GET",
				 url: "{{ MEDIA_URL }}tmp/" + path,
				 dataType: "text",
			      
			}).done(function(data){
				if(data) {
				$( ".server-progress" ).html( data );
				
			} else { }
			}).always(function(data){
				if(data != 100) {
					//setTimeout(function(){servercheck},1000);
				} else {}
			})
			;

			
			
			
        }
		
		function loadTable() {
		$.ajax({
		  url: '{% url "objecttable" %}',
		  success: function(data) {
		  $('#objecttable').html(data);
		  }
		});
	}
	</script> 
<!--
	<form 
	    id="fileupload" action="{{ swift_url }}" 
	    method="POST" enctype="multipart/form-data">
	
				<input type="hidden" name="redirect" value="{{redirect_url}}" />
			    <input type="hidden" name="max_file_size" value="{{ max_file_size }}" />
			    <input type="hidden" name="max_file_count" value="{{ max_file_count }}" />
			    <input type="hidden" name="expires" value="{{ expires }}" />
			    <input type="hidden" name="signature" value="{{ signature }}" />
				<input type="file" name="file1" /><br />
				<input type="submit" />
			</form>
	{% include "cors.html" %}
-->
{% load jfutags %} 
{% jfu 'upload_form.html' %}

	</div>

<div id="objecttable">
</div>
</div>
{% endblock %}
{% block jsadd %}
	<script type="text/javascript"> 		
		$('input[id=file]').change(function() { $('#filetmp').val($(this).val()); });				
	</script> 
{% endblock %}

