{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% load staticfiles %}
{% block content %}
	<div id="settingsview">
		<div class="crumb-row" data-magellan-expedition="fixed">
			<div class="row">
				<div class="small-12 medium-7 columns breadcrumb settings">
					<ul>
						<li>
							<a href="{% url "containerview" %}">Containers</a>
						</li>
						<li>
							<span class="glyphicons glyphicons-chevron-right"></span>
							<span>Settings</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% include "messages.html" %}
<!-- 		<div class="row" ng-controller="UserManagementCtrl">
			<div class="columns small-12">
				<h2>User Management</h2>
				<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
				<ng-include src="'{% static 'templates/user_management.html' %}'"></ng-include>
			</div>
		</div> -->
		<div class="row content-body">
			<div class="small-12 columns">
				<div class="row">
					<div class="small-12 columns">
						<h2>Tenant Settings</h2>
						<div class="row">
							<div class="small-12 medium-7 columns">
								<h3>Default Temp Url Time</h3>
								<p>The following hours and days are used to calculate how long temp urls will last. The default is 7 days. You can change this here.</p>
								<form id="custom-temp-url" action="{% url "set_default_tempurl_time" %}" method="post">
							        {% csrf_token %}
							        {{tempurl_form}}
							        <input class="button expand" type="submit" value="Update" />
							    </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{STATIC_URL}}foundation/bower_components/angular/angular.min.js" type="text/javascript"></script>
	<!-- <script src="{{STATIC_URL}}js/helpers/angular/messages.js" type="text/javascript"></script> -->
	<!-- <script src="{{STATIC_URL}}js/helpers/angular/user-management.js" type="text/javascript"></script> -->
{% endblock %}
