
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}
<h2 id="tempurl-title">Temporary URL</h2>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	<h4>{% trans 'Temporary URL for' %} {{container}}/{{objectname}}</h4>
    <p>{% trans 'Use the following URL to share this object. The URL is valid for 7 days.' %}</p>
    <p><code>{{url}}</code></p>
    <p>{% trans 'Please note that you cannot revoke this URL. It is valid until expiration!' %}</p>
	
	<button type="button" id="close-tempurl" class="button close expand">Close</button>
<div></div>
<script type="text/javascript"> 		
	$('#close-tempurl').on('click', function(){$('#tempurl').foundation('reveal', 'close')});
</script>
{% endblock %}



