
{% load i18n %}
{% block CSS %}

    {% block CSS_BOOTSTRAP %}
        {% comment %}
        Bootstrap CSS Toolkit styles
        {% endcomment %}

    {% endblock %}

    {% block CSS_BLUEIMP_GALLERY %}
        {% comment %}
         Blueimp Gallery styles
        {% endcomment %}
        <link
            rel="stylesheet"
            href="{{ STATIC_URL }}demo/blueimp-gallery.min.css"
        >
    {% endblock %}

    {% block CSS_JQUERY_FILE_UPLOAD %}
        {% comment %}
         CSS to style the file input field as button and adjust the Bootstrap progress bars
        {% endcomment %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload.css">
    {% endblock %}

    {% block CSS_JQUERY_FILE_UPLOAD_UI %}
        {% comment %}
         CSS to style the file input field as button and adjust the Bootstrap progress bars
        {% endcomment %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css">
        {% comment %}
         CSS adjustments for browsers with JavaScript disabled
        {% endcomment %}
        <noscript>
            <link rel="stylesheet"
            href="{{ STATIC_URL }}css/jquery.fileupload-ui-noscript.css"
            >
        </noscript>
    {% endblock %}

    {% block CSS_HTML5_SHIM %}

        {% comment %}
         Shim to make HTML5 elements usable in older Internet Explorer versions
        {% endcomment %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->

    {% endblock %}
{% endblock %}


{% block UPLOAD_FORM %}

    {% comment %}
     The file upload form used as target for the file upload widget
    {% endcomment %}

    <form
        id="fileupload" action="{{ swift_url }}"
        method="POST" enctype="multipart/form-data">
    	{% csrf_token %}
        {% comment %}
         Redirect browsers with JavaScript disabled to the origin page
        {% endcomment %}
        <noscript>
            <input type="hidden" name="redirect" value="{{ request.path }}">
        </noscript>

        {% comment %}
         The loading indicator is shown during file processing
        {% endcomment %}
    	<div class="modal-body">
	        <div id="preloadmsg">
	 		   <div class="preloadmsg-txt">Drop your files anywhere on the screen to start.</div>
	 		   <div class="chrome">
	 		   		<div class="chrome-txt">
	 				<div><img src="{{ STATIC_URL }}img/chrome.png" alt="Google Chrome Logo" /></div>
	 				<div>Chrome users! You can upload nested folders by dragging them onto the screen.</div>
	 			</div>
	 		   </div>
	 	   </div>
    	    {% block UPLOAD_FORM_LINDICATOR %}
                <div class="fileupload-loading"></div>
				<br>
            {% endblock %}

            {% block UPLOAD_FORM_LISTING %}
                {% comment %}
                 The table listing the files available for upload/download
                {% endcomment %}
		        <div role="presentation" class="">
		            <div class="files"></div>
		        </div>
            {% endblock %}
    	</div>
        <div class="modal-footer">
            {% block UPLOAD_FORM_PROGRESS_BAR %}
            {% comment %}
             The global progress information
            {% endcomment %}
            <div class="fileupload-progress fade">
                {% comment %}
                 The global progress bar
                {% endcomment %}
	      		<div class="progress" role="progressbar"
	                  aria-valuemin="0" aria-valuemax="100">
	      		  <span class="progress-bar meter" style="width: 0%"></span>
	      		</div>
                {% comment %}
                 The extended global progress information
                {% endcomment %}
                <div class="progress-extended">&nbsp;</div>
            </div>
            {% endblock %}
            {% block UPLOAD_FORM_BUTTON_BAR %}
                <span class="fileupload-buttonbar">
                	{% comment %}
                     The fileupload-buttonbar contains buttons to add/delete files and
                     start/cancel the upload
                    {% endcomment %}

                    {% comment %}
                     The fileinput-button span is used to style the file input field as button
                    {% endcomment %}
                    {% block UPLOAD_FORM_BUTTON_BAR_ADD %}
		                <span class="button fileinput-button small">
		                    <span class="glyphicons glyphicons-plus"></span>
		                    <span>Add files...</span>


		                    {% block FILE_INPUT %}
		                    {% comment %}
		                        The file input for the upload form.
		                    {% endcomment %}

		    				<input
		                        id="file" type="file" name="FILE_NAME" multiple

		                        {% if accepted_mime_types %}
		                            accept = '{{ accepted_mime_types|join:"," }}'
		                        {% endif %}
		                    />

		                    {% endblock %}

		                </span>
		                <span class="button fileinput-button small">
		                    <span class="glyphicons glyphicons-folder-plus"></span>
                            <span>Add Directories...</span>
                            {% comment %}
                                The file input for the upload form.
                            {% endcomment %}
                                <input
                                    id="directory" type="file" name="FILE_NAME" multiple directory webkitdirectory
                                    {% if accepted_mime_types %}
                                        accept = '{{ accepted_mime_types|join:"," }}'
                                    {% endif %}
                                />
                        </span>
                    {% endblock %}

                    {% block UPLOAD_FORM_BUTTON_BAR_CONTROL %}
		                <button type="submit" id="start-upload" class="button start success disabled small">
		                    <span class="glyphicons glyphicons-up-arrow"></span>
		                    <span>Start upload</span>
		                </button>
		                <button type="reset" id="cancel-upload" class="button cancel secondary disabled small">
		                    <span class="glyphicons glyphicons-circle-remove"></span>
		                    <span>Cancel upload</span>
		                </button>
                    {% endblock %}
        			<button type="button" id="close-upload" class="button close small">Close</button>
                </span>
            {% endblock %}
        </div>
    </form>

{% endblock %}

{% block MODAL_GALLERY %}
{% endblock %}



{% block JS_TEMPLATES %}

    {% comment %}
     The template to display files available for upload
    {% endcomment %}
    {% block JS_UPLOAD_TEMPLATE %}
		<script id="template-upload" type="text/x-tmpl">
		{{ JQ_OPEN }}

		for (var i=0, file; file=o.files[i]; i++) {
			var type = file.name.substr(file.name.lastIndexOf('.') + 1);
			var types = ['pdf','png','txt','doc','rtf','log','tex','msg','text','wpd','wps','docx','page','csv',
            'dat','tar','xml','vcf','pps','key','ppt','pptx','sdf','gbr','ged','mp3','m4a','waw',
            'wma','mpa','iff','aif','ra','mid','m3v','swf','avi','asx','mp4','mpg',
            'asf','vob','wmv','mov','srt','m4v','flv','rm','png','psd','psp','jpg','tif','tiff','gif',
            'bmp','tga','thm','yuv','dds','ai','eps','ps','svg','pdf','pct','indd','xlr','xls','xlsx',
            'db','dbf','mdb','pdb','sql','aacd','app','exe','com','bat','apk','jar','hsf','pif','vb',
            'cgi','css','js','php','xhtml','htm','html','asp','cer','jsp','cfm','aspx','rss','csr',
            'less','otf','ttf','font','fnt','eot','woff','zip','zipx','rar','targ','sitx','deb','pkg',
            'rmp','cbr','gz','dmg','cue','bin','iso','hdf','vcd','bak','tmp','ics','msi','cfg','ini',
            'prf']
			var images = ['gif','png','jpeg',]
		{{ JQ_CLOSE }}
		<div class="template-upload file-row">
			   		<div class="progress file-progress" role="progressbar"
			               aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
			   		  <span class="progress-bar meter" style="width: 0%;"></span>
			   		</div>
					<div class="row">
						<div class="small-1 columns">

						{{ JQ_OPEN }} if ($.inArray( type, types ) == -1) { {{ JQ_CLOSE }}
			            	<div class="icon"><span class="glyphicons glyphicons-file"></span></div>
						{{ JQ_OPEN }} } else { {{ JQ_CLOSE }}
							{{ JQ_OPEN }} if ($.inArray( type, images ) == -1) { {{ JQ_CLOSE }}
						 		<div class="icon">
						 		   <span class="filetypes filetypes-{{ JQ_OPEN }}=type{{ JQ_CLOSE }}"></span></div>
								{{ JQ_OPEN }} } else { {{ JQ_CLOSE }}
									<div class="preview"></div>
								{{ JQ_OPEN }} } {{ JQ_CLOSE }}
						{{ JQ_OPEN }} } {{ JQ_CLOSE }}
						</div>
						<div class="small-6 columns">
						<div class="name">
							{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}
							<strong class="error text-danger"></strong>
						</div>
						</div>
						<div class="small-2 columns">
			            <div class="size">Processing...</div>
					</div>


			        	<div class="small-3 columns filerowbtns">
			            {{ JQ_OPEN }} if (!i && !o.options.autoUpload) { {{ JQ_CLOSE }}
			                <button class="button tiny start success" disabled>
			                    <i class="glyphicon glyphicon-upload"></i>
			                    <span>Start</span>
			                </button>
			            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
			            {{ JQ_OPEN }} if (!i) { {{ JQ_CLOSE }}
			                <button class="button tiny cancel secondary">
			                    <i class="glyphicon glyphicon-ban-circle"></i>
			                    <span>Cancel</span>
			                </button>

			            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
						</div>
					</div>
		</div>

		{{ JQ_OPEN }} } {{ JQ_CLOSE }}
		</script>
		{% endblock %}


		{% block JS_DOWNLOAD_TEMPLATE %}
		{% comment %}
		 The template to display files available for download
		{% endcomment %}

		<script id="template-download" type="text/x-tmpl">
		{{ JQ_OPEN }} for (var i=0, file; file=o.files[i]; i++) { {{ JQ_CLOSE }}
		{{ JQ_OPEN }}loadTable();{{ JQ_CLOSE }}
		{{ JQ_OPEN }} } {{ JQ_CLOSE }}
		</script>
    {% endblock %}
{% endblock %}

{% block JS_SCRIPTS %}
    {% block JS_JQUERY %}
        {% comment %}
         jQuery
        {% endcomment %}
    {% endblock %}

    {% block JS_JQUERY_UI_WIDGET %}
        {% comment %}
         The jQuery UI widget factory, can be omitted if jQuery UI is already included
        {% endcomment %}
        <script src="{{ STATIC_URL }}js/vendor/jquery.ui.widget.js"></script>
    {% endblock %}

    {% block JS_TEMPLATES_PLUGIN %}
        {% comment %}
         The Templates plugin is included to render the upload/download listings
        {% endcomment %}
        <script src="{{ STATIC_URL }}demo/tmpl.min.js"></script>
    {% endblock %}

    {% block JS_LOAD_IMAGE %}
        {% comment %}
         The Load Image plugin is included for the preview images and image resizing functionality
        {% endcomment %}
        <script src="{{ STATIC_URL }}demo/load-image.min.js"></script>
    {% endblock %}

    {% block JS_CANVAS_TO_BLOB %}
        {% comment %}
         The Canvas to Blob plugin is included for image resizing functionality
        {% endcomment %}
        <script src="{{ STATIC_URL }}demo/canvas-to-blob.min.js"></script>
    {% endblock %}

    {% block JS_BOOTSTRAP %}

    {% endblock %}

    {% block JS_BLUEIMP_GALLERY %}
        <script src="{{ STATIC_URL }}demo/jquery.blueimp-gallery.min.js"></script>
    {% endblock %}

    {% block JS_BOOTSTRAP_IFRAME_TRANSPORT %}
        {% comment %}
         The Iframe Transport is required for browsers without support for XHR file uploads
        {% endcomment %}
        <script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
    {% endblock %}

    {% block JS_JQUERY_FILE_UPLOAD %}
        {% comment %}
         The basic File Upload plugin
        {% endcomment %}
        <script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
    {% endblock %}

    {% block JS_JQUERY_FILE_UPLOAD_FP %}
        {% comment %}
         The File Upload file processing plugin
        {% endcomment %}
        <script src="{{ STATIC_URL }}js/jquery.fileupload-process.js"></script>
    {% endblock %}


    {% block JS_JQUERY_FILE_UPLOAD_IMAGE %}
        {%comment%}
        The File Upload image preview & resize plugin
        {%endcomment%}
        <script src="{{ STATIC_URL }}js/jquery.fileupload-image.js"></script>
    {% endblock %}


    {% block JS_JQUERY_FILE_UPLOAD_AUDIO %}
        {%comment%}
        The File Upload audio preview plugin
        {%endcomment%}
        <script src="{{ STATIC_URL }}js/jquery.fileupload-audio.js"></script>
    {% endblock %}


    {% block JS_JQUERY_FILE_UPLOAD_VIDEO %}
        {%comment%}
        The File Upload video preview plugin
        {%endcomment%}
        <script src="{{ STATIC_URL }}js/jquery.fileupload-video.js"></script>
    {% endblock %}


    {% block JS_JQUERY_FILE_UPLOAD_VALIDATE %}
        {%comment%}
        The File Upload validation plugin
        {%endcomment%}
        <script src="{{ STATIC_URL }}js/jquery.fileupload-validate.js"></script>
    {% endblock %}


    {% block JS_JQUERY_FILEUPLOAD_UI %}
        {% comment %}
         The File Upload user interface plugin
        {% endcomment %}
        <script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
    {% endblock %}

    {% comment %}
     The main application script
    {% endcomment %}

    <script src="{{STATIC_URL}}js/helpers/upload_form.js" type="text/javascript"></script>


{% block JS_XDR_TRANSPORT %}
{% comment %}
 The XDomainRequest Transport is included for cross-domain file deletion for IE8+
{% endcomment %}

<!--[if gte IE 8]>
<script src="{{ STATIC_URL }}js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
{% endblock %}

{% endblock %}
